<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/script.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  </body>
  <button id = "socketTest">Send Message to socket</button>
</html>
